/* DEBUT ADD CAT*/
.add_cat {
	padding-left: 5%;
	padding-top: 4%;
	padding-right: 8%;

}

.login_addcat {
	background-color: #FFFFFF;
	position: absolute;
	width: 46vh;
	height: 45vh;
	min-width: 300px;
	min-height: 800px;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -40%);
  	box-shadow: 5px 5px 10px;
 	 border-radius: 5px;
 	 padding: 5px;
  	flex-direction: column;
}

.cat_head {
	text-align: left;
	padding-left: 8%;
	padding-top: 5%;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 2em;
}

.description {
	padding-left: 5%;
	padding-top: 4%;
}

.des_cat {
  resize: both;
  min-width : 275px;
  min-height : 100px;
  max-width : 275px;
  max-height : 100px;
}

.submit_feet {
	display: flex;
	justify-content: flex-end;
	padding-right: 4%;
	padding-top: 5%;
}
/*FIN ADD CAT*/
