.background {
	background-color: #F9F9F9;
	font-family: Verdana, Arial, sans-serif;
}

.main {
	background-color: #F9F9F9;
	font-family: Verdana, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
}
/* #### PRODUCT_ADD* #### */
.add_prod {
	padding-left: 5%;
	padding-top: 4%;
	padding-right: 8%;

}

.login_addprod {
	margin: 3%;
	background-color: #FFFFFF;
	position: flex;
	/*width: 38%;
	height: 50%;*/
	width: 450px;
	height: 645px;
  	/*top: 45%;
  	left: 59%;
  	/*transform: translate(-50%, -40%);*/
  	box-shadow: 5px 5px 10px;
  	border-radius: 5px;
  	padding: 5px;
  	flex-direction: column;
}

.login_head {
	text-align: left;
	padding-left: 8%;
	padding-top: 5%;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 2em;
}

.description {
	padding-left: 5%;
	padding-top: 4%;
}

.login_feet {
	display: flex;
	justify-content: flex-end;
	padding-right: 4%;
	padding-top: 5%;
}

.input_img {
	padding-left: 5%;
	padding-top: 3%;
}
/* #### FIN PRODUCT_ADD* #### */

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	min-width: 890px;
	height: 10%;
	min-height: 87px;
	/*background-color: #FF0000;*/
}

.logo {
	width: 25%;
	max-width: 300px;
	height: 100%;
	/*max-height: 89px;
	background-color: #418946;*/
}

.image {
	width: 100%;
	height: 100%;
}

.connexion {
	/*background-color: #286846;*/
	background-color: #474747;
	width: 12%;
	max-width: 120px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.connected {
	/*background-color: #286846;*/
	background-color: #474747;
	width: 20%;
	max-width: 200px;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
  display: inline-block;
}

.menu_content {
	display: none;
    position: absolute;
    /*background-color: #E0E0E0;*/
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.connected:hover .menu_content {
    display: block;
	position: relative;
	top: 30%;
	right: 8%;
	margin: 15px;
}

.connected_text {
	position: relative;
	color: #F5F5F5;
	text-decoration: none;
	text-align: left;
	margin-left: 20%;
	top: 35%;
}

#inscription_button {
	/*background-color: #187b8e;*/
	background-color: #474747;
	padding-right: 3%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search_bar {
	background-color: #474747;
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%
}

.search_input {
	width: 85%;
    height: 35%;
    /*border-color: #000000;
    border-style: none;
    border-right-style: inset;
    border-left-style: inset;
    border-top-style: inset;
    border-bottom-style: inset;*/
    border-right-color: #000000;
    border-style: inset;
    border-width: 1px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.search_button {
	background-image: url("loupe.png");
	background-size: cover;
	background-color: #E5E5E5;
    width: 35px;
    height: 35%;
    /*border-color: #000000;*/
    border-style: outset;
    border-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.corps {
	width: 100%;
	height: 90%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
.menu {
	/*background-color: #DDDDDD;*/
	height: 20%;
	min-width: 200px;
	width: 25%;
	max-width: 250px;
	margin: 2%;
	margin-left: 0.5%;
	border-style: none;
	border-width: 0px;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: flex-start;
}

.prim_cat {
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	background-color: #d3d3d3;
	color: #474747;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
    display: inline-block;
  	border-style: solid;
	border-color: #878787;
	border-width: 3px;
	border-top-width: 0px;
}

#first_prim {
	border-top-width: 3px;
}

.prim_cat:hover .sub_cat{
	display: flex;
}

.prim_text {
	margin: 4px;
	margin-left: 5px;
	padding: 0%;
	border-style: none;
}

.sub_cat {
	display: none;
	background-color: #b7b7b7;
	flex-direction: column;
}

.sub_cat a:hover{
	background-color: #E5E5E5;
}

.sub_cat a{
	background-color: #DDDDDD;
	color: #474747;
	text-decoration: none;
	padding-left: 20px;
	border-style: solid;
	border-color: #878787;
	border-width: 0px;
	border-top-width: 2px;
}

/* #### ARTICLE LIST #### */
.article_list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-right: 5%;
}

.article {
	background-color: #DDDDDD;
	height: 20%;
	min-height: 165px;
	width: 100%;
	min-width: 500px;
	margin-left: 2%;
	margin-top: 2%;
	padding: 3px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border-style: solid;
	border-width: 2px;
	border-color: #878787;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.article_list_left {
	height: 100%;
	width: 20%;
	max-width: 150px;
	display: flex;
	flex-direction: column;
}

.article_image {
	min-height: 100%;
	min-width: 100%;
}

.article_list_price {
	height: 20%;
	width: 100%;
	/*background-color: #f41843;*/
	text-align: center;
}

.article_list_right {
	/*background-color: #996f54;*/
	flex: 1;
	margin: 2%;
	padding-left: 2%;
}
/* #### FIN ARTICLE LIST #### */

/* #### PAGE ARTICLE #### */

.article_main {
	margin-top: 20px;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: #7f81a3;
	height: 60%;
	min-height: 600px;
	width: 75%;
	min-width: 500px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.article_top_tab {
	display: flex;
	height: 40%;
	width: 100%;
	padding: 10px;
}

.article_page_img {
	display: flex;
	height: 100%;
	width: 180px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.article_short_descri {
	padding-left: 15px;
	display: flex;
	flex: 2;
	flex-direction: column;
	height: 100%;
	width: 70%;
	/*background-color: #FFFFFF;*/
	margin-left: 5px;
}

.article_name {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
}

.article_short {
	font-size: .9em;
	margin: 0px;
	margin-top: 15px;
	padding: 0px;
}

.article_bottom_tab {
	border-style: solid;
	border-width: 2px;
	padding: 5px;
	display: block;
	flex: 1;
	/*background-color: #;*/
	margin: 10px;
	margin-top: 0px;
}

.article_bottom_tab h3{
	margin: 0%;
	margin-top: 5px;
}

.article_bottom_tab p{
	margin: 0%;
	margin-top: 8px;
}

.article_price_panier {
	display: flex;
	width: 25%;
	max-width: 200px;
	height: 100%;
	flex-direction: column;
	margin-right: 20px;
	padding-left: 25px;
	border-style: solid;
	border-width: 3px;
	background-color:  #e3f1f7;
}

.article_price {
	margin-top: 20%;
}

#quantite {
	width: 20%;
}

#submit_button {
	margin-top: 10%;
	width: 90%;
}
/* #### FIN PAGE ARTICLE #### */

/* #### PAGE PANIER #### */
.panier_main {
	display: flex;
	flex-direction: column;
	min-width: 165px;
	width: 25%;
	max-width: 210px;
	min-height: 100%;
	overflow: auto;
	align-items: left;
	/*background-color: #512d55;*/
	margin-top: 1.4%;
	margin-right: 1%;
}

.panier_list {
	display: block;
	background-color: #DDDDDD;
	padding-left: 15%;
	padding-top: 10px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);

}

.panier_total {
	display: block;
	background-color: #DDDDDD;
	padding-left: 15%;
	padding-top: 10px;
	border-left-style: solid;
	border-right-style: solid;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.panier_valider {
	display: block;
	background-color: #DDDDDD;
	padding-left: 15%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15%;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#valider_form {
	margin: 0px;
	padding: 0px;
}
/* #### FIN PAGE PANIER #### */